main.Home .About-Container .Text  p,
main.aboutUS .AboutUS-c .Text p,
main.aboutUS .Detail-Container .Box .Text p,
main.aboutUS .multimedia__subline p {
font-size: 14px;
font-weight: 300;
line-height: 31px;
color: #fff;
text-align: justify;
font-family: "IRANSansWeb300";
}

.Services-Container .Bottom-S,
main.aboutUS .AboutUS-c .Text p ,
main.aboutUS .Detail-Container .Box .Text p,
main.aboutUS .multimedia__subline p{
    color:#1E1E1E !important; 
}
main.Home .swiper-brands,
main.Home .swiper-brands .swiper-slide,
main.Home .swiper-brands .swiper-slide a,
main.Home .swiper-brands .swiper-slide .IMG-2,
main.Home .swiper-brands .swiper-slide .IMG-2 img{
    height: 100%;
}
main.Home .Brands-Container a.btn-show{
    transform: translate(-3em, 1em) !important;
    -webkit-transform: translate(-3em, 1em) !important;
    -moz-transform: translate(-3em, 1em) !important;
    -ms-transform: translate(-3em, 1em) !important;
    -o-transform: translate(-3em, 1em) !important;
}
.P-Cat .Det{
    width: 80%;
}
.representaition-Container >.Top{
    margin-top: 1em;
}
.GalleryShow .VideoBox ,
.GalleryShow .VideoBox .Video,
.GalleryShow .VideoBox .Video video{
  height: 244px;
  object-fit: cover;
}
/* .timeline__entry:nth-child(2n):after{
    bottom: -.7em !important; 
} */
.timeline__entry:nth-child(2n) span{
    margin-top: 127px !important;
}
/* .timeline__entry:after{
    bottom: 49px !important; 
} */
.timeline__map::before{
    background-color: #FAFAFA !important;
}
.fade-in p,
.fade-in h2,
.fade-in h3,
.fade-in h4,
.fade-in h5,
.fade-in h6{
    opacity: 0;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transition: all .8s ;
    -webkit-transition: all .8s ;
    -moz-transition: all .8s ;
    -ms-transition: all .8s ;
    -o-transition: all .8s ;
}
.resultSearch p{
    font-size: 24px;
    font-weight: 500;
    line-height: 55px;
    color:#1E293B;
    text-align: justify;
    font-family: "IRANSansWeb500";
}
main.Error .Toggle-item{
    background-color: #1E1E1E;
    }
 main.Error {
        height: 100vh;
        overflow: hidden;
 }
 .fadeIN{
    overflow: hidden;
 }
 .fadeIN p,
 .fadeIN span,
 .fadeIN h1,
 .fadeIN h2,
 .fadeIN h3,
 .fadeIN h4,
 .fadeIN h5,
 .fadeIN h6,
 .fadeIN li
{
    opacity: 0;
    transform: translateY(1.5em);
    -webkit-transform: translateY(1.5em);
    -moz-transform: translateY(1.5em);
    -ms-transform: translateY(1.5em);
    -o-transform: translateY(1.5em);
    transition: all .8s ease;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
}

main.Home-Mobile .Service{
    opacity: 0;
    transform: translateY(1.5em);
    -webkit-transform: translateY(1.5em);
    -moz-transform: translateY(1.5em);
    -ms-transform: translateY(1.5em);
    -o-transform: translateY(1.5em);
    transition: all .8s ease;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
}
main.Home .Section-1 .Btn:hover svg{
    stroke: #2E3192F3;
}
.btnsMain{
    position: relative;
    right: unset;
    left: unset;
    bottom: unset;
}
.Title-p {
    padding: 2em 0;
}
.Title-p .btnsMain{ transform: translateX(-1em); 
    -webkit-transform: translateX(-1em); 
    -moz-transform: translateX(-1em);
     -ms-transform: translateX(-1em);
      -o-transform: translateX(-1em);
}
main.Home .swiper-banner .btnsMain {
    margin-bottom: 3.8em;
}
.Blog .btText{
    margin-right: 1em;
}
main.Home .Section-8 {
    margin-bottom: 3em;
}
main.Home .Service .Bottom-S p{
    font-size: 14px;
font-weight: 300;
line-height: 31px;
color: #1E1E1E;
text-align: justify;
font-family: "IRANSansWeb300";
}
main.Home .Section-3 .Left{
    justify-content: flex-end;
}
main.Home .Section-3  .btnsMain{
    margin-top: .5em;
}
main.Home .Section-4 .Title-p .btText,
main.Home .Section-5 .Title-p .btText{
    margin-right: 1em;
}
main.Home .Section-4  .swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
}
main.Home .Section-7 .Icon-S {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1px solid #475569;

}
main.Home .Section-7 .Service.colorB .Title-S{
    transition: all .8s ease;
    opacity: .5;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
} 
main.Home .Section-7 .Service.colorN .Title-S{
    transition: all .8s ease;
    opacity: 1;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
} 
.Blog .IMG >a{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main.aboutUS .Section-2 {
    margin-top: 3em;
}
.GalleryShow .Top h1 {
    font-size: 36px;
    font-weight: 500;
    line-height: 56.35px;
    color: #1E1E1E;
    margin-top: 1em;
}