@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .rtl {
    direction: rtl;
  }
}

@font-face {
  font-family: "YekanBakh400";
  src: url("../../_fonts/YekanBakh-Regular.eot");
  src: url("../../_fonts/YekanBakh-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../../_fonts/YekanBakh-Regular.woff") format("woff"),
    url("../../_fonts/YekanBakh-Regular.woff2") format("woff2"),
    url("../../_fonts/YekanBakh-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "YekanBakh700";
  src: url("../../_fonts/Yekan\ Bakh\ FA\ 06\ Bold.eot");
  src: url("../../_fonts/Yekan\ Bakh\ FA\ 06\ Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../../_fonts/Yekan\ Bakh\ FA\ 06\ Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANSansWebfanum";
  src: url("../../_fonts/IRANSansWeb(FaNum).eot");
  src: url("../../_fonts/IRANSansWeb(FaNum).eot?#iefix")
      format("embedded-opentype"),
    url("../../_fonts/IRANSansWeb(FaNum).woff") format("woff"),
    url("../../_fonts/IRANSansWeb(FaNum).woff2") format("woff2"),
    url("../../_fonts/IRANSansWeb(FaNum).ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANSansWebfanum";
  src: url("../../_fonts/IRANSansWeb(FaNum)_Medium.eot");
  src: url("../../_fonts/IRANSansWeb(FaNum)_Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../../_fonts/IRANSansWeb(FaNum)_Medium.woff") format("woff"),
    url("../../_fonts/IRANSansWeb(FaNum)_Medium.woff2") format("woff2"),
    url("../../_fonts/IRANSansWeb(FaNum)_Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.faNum {
  font-family: "IRANSansWebfanum" !important;
}
@font-face {
  font-family: "IRANSansWeb500";
  src: url("../../_fonts/IRANSansWeb_Medium.eot");
  src: url("../../_fonts/IRANSansWeb_Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../../_fonts/IRANSansWeb_Medium.woff") format("woff"),
    url("../../_fonts/IRANSansWeb_Medium.woff2") format("woff2"),
    url("../../_fonts/IRANSansWeb_Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANSansWeb400";
  src: url("../../_fonts/IRANSansWebRegular.eot");
  src: url("../../_fonts/IRANSansWebRegular.eot?#iefix")
      format("embedded-opentype"),
    url("../../_fonts/IRANSansWebRegular.woff") format("woff"),
    url("../../_fonts/IRANSansWebRegular.woff2") format("woff2"),
    url("../../_fonts/IRANSansWebRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANSansWeb300";
  src: url("../../_fonts/IRANSansWeb(FaNum)_Light.eot");
  src: url("../../_fonts/IRANSansWeb(FaNum)_Light.eot?#iefix")
      format("embedded-opentype"),
    url("../../_fonts/IRANSansWeb(FaNum)_Light.woff") format("woff"),
    url("../../_fonts/IRANSansWeb(FaNum)_Light.woff2") format("woff2"),
    url("../../_fonts/IRANSansWeb(FaNum)_Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANSansWeb700";
  src: url("../../_fonts/IRANSansWeb(FaNum)_Bold.eot");
  src: url("../../_fonts/IRANSansWeb(FaNum)_Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../../_fonts/IRANSansWeb(FaNum)_Bold.woff") format("woff"),
    url("../../_fonts/IRANSansWeb(FaNum)_Bold.woff2") format("woff2"),
    url("../../_fonts/IRANSansWeb(FaNum)_Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
header .Menu-Container{
  background-size: 100%;
}
#c2{
  position: absolute;
  left:0 ;
  top: 50%;
}
.BTN{
  transform: translate(2em,-1.5em);
}
svg.BTN #c2,#c1{
  transition: all .5s ease;
}
.btn-show:hover #c1{
  r: 54px;
  stroke-width: 25px;
 }
.btn-show:hover #c2{
stroke-width: 36px;
}
.btn-show:hover .Btn{
background-color: #fff;
color: #000;
}
.swiper-pagination-bullet{
  width: 110px !important;
  background-color:transparent !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: .5em;
  margin: 0 !important  ;
  opacity: 1 !important;
}

.swiper-pagination-bullet .line{
  display: flex;
  width: 110px;
  height: 4px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-color: #FFFFFF80;
  position: relative;
}
.swiper-pagination-bullet-active  .line::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background-color: #FFFFFF;
  width: 0;
  height: 100%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  animation: width 4s forwards ;
  -webkit-animation: width 4s forwards ;
}
@keyframes width {
  0%{
      width: 0%;
  }

  100%{
      width: 100%;
  }
  
}
.swiper-pagination{
  width:  auto !important;
  left: 5.8em !important  ;
  right: unset !important;
  height: unset !important;
  margin-bottom: 10em;
}
.swiper-banner .swiper-slide img{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  opacity: 0;
  transition:all 1s cubic-bezier(.1,.6,.4,1) ;
  -webkit-transition:all 1s cubic-bezier(.1,.6,.4,1) ;
  -moz-transition:all 1s cubic-bezier(.1,.6,.4,1) ;
  -ms-transition:all 1s cubic-bezier(.1,.6,.4,1) ;
  -o-transition:all 1s cubic-bezier(.1,.6,.4,1) ;
}
.swiper-banner .swiper-slide-active img{
  transition:all 1s cubic-bezier(.1,.6,.4,1) ;
  -webkit-transition:all 1s cubic-bezier(.1,.6,.4,1) ;
  -moz-transition:all 1s cubic-bezier(.1,.6,.4,1) ;
  -ms-transition:all 1s cubic-bezier(.1,.6,.4,1) ;
  -o-transition:all 1s cubic-bezier(.1,.6,.4,1) ;
  opacity: 1;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}


.cursor-follower {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  width: 20px;
  height: 20px;
  border-radius: 100%;
  z-index: 1;
  transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
      0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
  user-select: none;
  pointer-events: none;
  z-index: 10000;
  transform: translate(5px, 5px);
}
.cursor-follower.active{
  opacity: 0.7;
  transform: scale(3);
}
 #s1,#s2{
 transition: all .4s ease;
 -webkit-transition: all .4s ease;
 -moz-transition: all .4s ease;
 -ms-transition: all .4s ease;
 -o-transition: all .4s ease;
}
.Service .Top-S:hover svg #s1{
  stroke: #fff !important;
}
.Service .Top-S:hover svg #s2{
  stroke: #fff !important;

}

.Service .Top-S:hover svg{
  width: 30px;
}
.navigationBTN .swiper-button-prev,.navigationBTN .swiper-button-next{
  position: static !important;
margin: 0 !important;
padding: 0 !important;
width: 50% !important;
display: flex !important;
}
.navigationBTN .swiper-button-prev::before,.navigationBTN .swiper-button-next::before,
.navigationBTN .swiper-button-prev::after,.navigationBTN .swiper-button-next::after{
  content: none !important;
}
.swiper-gallery .swiper-slide-active .IMG{
  transform:unset !important;
  -webkit-transform:unset !important;
  -moz-transform:unset !important;
  -ms-transform:unset !important;
  -o-transform:unset !important;
}
.swiper-gallery .swiper-slide-next .IMG{
 transform: translateY(5em);
 -webkit-transform: translateY(5em);
 -moz-transform: translateY(5em);
 -ms-transform: translateY(5em);
 -o-transform: translateY(5em);
}